body {
  font-family: sans-serif;
  box-sizing: border-box;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
a {
  color: #00BCE2;
  text-decoration: none;
}
a:hover {
  color: #a185dd;
}
.job-form {
  display: inline-block;
  width: 350px;
  margin-bottom: 10px;
}
.job-form #add-form {
  float: left;
  margin-left: 10px;
}
.job-form #add-form label,
.job-form #add-form input {
  margin-right: 5px;
}
.job-form .delete-all {
  float: right;
}
.job-list {
  float: left;
  width: 310px;
  padding: 10px;
  transition: background-color .2s ease-out 0s;
  -webkit-transition: background-color .2s ease-out 0s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
}
.job-list:hover {
  background: rgba(235, 238, 249, 1);
  border-radius: 2px;
}
.job-list-title {
  text-align: center;
  width: 100%;
}
.job-list li {
  margin: 5px 0;
}
.job-list button {
  float: right;
  margin: 0 5px;
}
.clearfix {
  clear: both;
}
